/* Put these styles in: src/home/home.component.css */




body {
  background-color: #000000; /* Código hexadecimal del color de fondo */
}

.results {
  display: grid;
  grid-gap: 20px; /* Reemplaza column-gap y row-gap por grid-gap */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Cambia el ancho mínimo a 300px y utiliza fr para el ancho máximo */
  margin-top: 50px;
  justify-content: center; /* Centra las columnas en lugar de distribuir el espacio alrededor */
  padding: 0 20px; /* Agrega un relleno horizontal para mejorar la apariencia */
}
  
  input[type="text"] {
    border: solid 1px var(--primary-color);
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 30%;
  }
  
  button {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: rgb(250, 250, 250);
    border-radius: 8px;
  }
  
  @media (min-width: 500px) and (max-width: 768px) {
    .results {
        grid-template-columns: repeat(2, 1fr);
    }
    input[type="text"] {
        width: 70%;
    }   
  }
  
  @media (max-width: 499px) {
    .results {
        grid-template-columns: 1fr;
    }    
  }